extends ../../includes/page
block content
    .camps.stats
        section
            .heading.card.card__shad.row
                h2=t('camps:stats.title')
                .form-group
                    input.form-control(id='camps_stats_search_camp', type="text", placeholder="#{t('camps:stats.search')}", autofocus)
            .row
                .col-xs-12.card__shad
                    #react-camps-stats-table

script(src="/scripts/camp-stats-react.js")